.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    display: flex;
    margin: 24px 2px;
    align-items: center;
    padding: 5px 8px;
    height: 24px;
    background: var(--main-bg-color);
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    color: white;

}
.my-1{
    margin: 10px -12px;
}
.my-2{
    margin: 2px 0px;
}